.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}


.main-container {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto; /* El truco para centrar */
  padding: 0 2rem; /* Espacio en los lados */
  flex: 1; /* Empuja el footer hacia abajo */
}