@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

:root {
  --color-fondo: #0D1117;       
  --color-texto: #C9D1D9;       
  --color-texto-titulo: #FFFFFF; 
  --color-primario: var(--gradient-start); 
  --color-borde: rgba(255, 255, 255, 0.1);  
  --color-fondo-tarjeta: #161B22; 
  --color-acento-rgb: 35, 69, 25;
  --gradient-start: #59b54c;  
  --gradient-end: #043e16;     
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
  color: var(--color-texto);
  overflow-x: hidden; 
  background-color: var(--color-fondo);
  background-image: 

    radial-gradient(
      circle at 30% 20%, 
      rgba(var(--color-acento-rgb), 0.2) 0%, 
      transparent 35% 
    ),
   
    radial-gradient(
      circle at 80% 30%, 
      rgba(var(--color-acento-rgb), 0.15) 0%, 
      transparent 30%
    ),

    radial-gradient(
      circle at 1px 1px, 
      rgba(255, 255, 255, 0.05) 1px, 
      transparent 0
    );


  background-size: 
    100% 100%,  
    100% 100%,  
    10px 10px; 
  
  background-repeat: 
    no-repeat, 
    no-repeat,
    repeat;     
}